.Dashboard__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 6em;
    margin-left: 12em;
    grid-area: 1 / 1 / span 1 / span 4;
    padding: .5rem;
    grid-gap: .7rem;
    transition: .5s;
}