.Nots_btn__ellipse {
    position: relative;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 1em;
    background-color: grey;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 1.5em;
        height: 1.5em;
        transform: translate(23%, -53%);
        background-image: url('/src/assets/bell-solid.svg');
        background-repeat: no-repeat;
    }
}

