.Sidebar__wrapper {
    position: fixed;
    grid-area: 2 / 1 / span 4 / span 1;
    height: 100%;
    width: 12em;
    margin-top: 4em;
    top: 0;
    left: 0;
    overflow-x: hidden; 
    padding-top: 3.5em; 
    transition: .5s;
    background-color: $black;
}

.Sidebar__nav__closebtn {
    position: absolute;
    top: 0;
    right: .25em;
    padding: .2em .2em .7em 2em;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Inter';
    color: $text_icons;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        color: $white;
    }
}

@media only screen and (max-width: 600px) {
    .Sidebar__wrapper {margin-top: 6em;}
    .Sidebar__nav a {font-size: 1rem;}
  }

  /* Попытаться использовать clamp() вместо @media */
