@font-face {
    font-family: 'Title';
    src: url('/src/assets/Fonts/Pacifico/Pacifico-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('/src/assets/Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
span {
    font-family: 'Inter';
    color: rgba(23, 23, 23, 1)
}
strong {
    font-family: 'Inter';
    color: rgba(23, 23, 23, 1);
}
strong::after {
        content: '%';
    }
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* width: 100%; */
}
.Header{
    position: fixed;
    padding: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(229,229,229);
    z-index: 1;
}
.Header__insideWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .5em;
    justify-content: space-around;
    align-items: center;
    padding: .25em;
}
.Header__insidewrapper__utilsWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .5em;
}
.Header__insideWrapper--icon {
    width: 1em;
    height: 1em;
}
@media only screen and (max-width: 600px) {
    .Header{
        flex-direction: column;
    }
}
.Title_h2__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Title_h2 {
    padding: .2em;
    color: rgba(23, 23, 23, 1);
    font-family: 'Title';
    cursor: pointer;
    transition: .3s;
}
.Title_h2:hover {
        color: rgba(185, 185, 185, 1)
    }
.Titleh2__hamburger {
    display: flex;
    flex-direction: column;
}
.Titleh2__hamburger--item {
    width: 2rem;
    min-height: .3em;
    background-color: rgba(23, 23, 23, 1);
    margin: .1em 1em .1em .1em;
    border-radius: .1em;
}
.Input {
    position: relative;
    border: none;
    padding: .3em;
    border-radius: .2em;
    box-shadow: 0px 2px .8px rgba(185, 185, 185, 1);
    outline: none;
};
.Sidebar__wrapper {
    position: fixed;
    grid-area: 2 / 1 / span 4 / span 1;
    height: 100%;
    width: 12em;
    margin-top: 4em;
    top: 0;
    left: 0;
    overflow-x: hidden; 
    padding-top: 3.5em; 
    transition: .5s;
    background-color: rgb(59,59,59);
}
.Sidebar__nav__closebtn {
    position: absolute;
    top: 0;
    right: .25em;
    padding: .2em .2em .7em 2em;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Inter';
    color: rgba(185, 185, 185, 1);
    display: block;
    transition: 0.5s;
    cursor: pointer;
}
.Sidebar__nav__closebtn:hover {
        color: rgba(255, 255, 255);
    }
@media only screen and (max-width: 600px) {
    .Sidebar__wrapper {margin-top: 6em;}
    .Sidebar__nav a {font-size: 1rem;}
  }
/* Попытаться использовать clamp() вместо @media */
.Dashboard__title {
    font-family: 'Inter';
}
.Dashboard__filter {
    grid-area: 1 / 4 / span 1 / span 1;
    border: .1em solid rgba(185, 185, 185, 1);
    justify-self: end;
    border-radius: .4em; 
    padding: .4em .5em .4em 1.5em;
    margin: 0;
    background: none;
}
.Dashboard__filter::before {
        content: '';
        position: absolute;
        display: block;
        width: 1.1em;
        height: 1.1em;
        transform: translate(-100%, 5%);
        background-image: url('/src/assets/filter-solid.svg');
        background-repeat: no-repeat;
    }
.Dashboard__card__wrapper_green {
    display: grid;
    grid-area: 2 / 1 / span 1 / span 1;
    grid-template-columns: 2fr 1fr;
    grid-gap: .1em;
    border-radius: .5em;
    padding: .5em;
}
.Dashboard__card__wrapper_blue {
    display: grid;
    grid-area: 2 / 2 / span 1 / span 1;
    grid-template-columns: 2fr 1fr;
    grid-gap: .1em;
    border-radius: .5em;
    padding: .5em;
}
.Dashboard__card__wrapper_red  {
    display: grid;
    grid-area: 2 / 3 / span 1 / span 1;
    grid-template-columns: 2fr 1fr;
    grid-gap: .1em;
    border-radius: .5em;
    padding: .5em;
}
.Dashboard__card__logo {
    grid-area: 1 / 1 / span 1 / span 1;
    align-self: start;
    width: 3em;
    height: 3em;
    border-radius: .5em;
    padding: .1em;
    /* margin: .15em; */
}
.fa-ethereum {
  width: 3em;
  height: 2.7em;
}
.Dashboard__card__chart {
    width: 7rem;
    grid-area: 2 / 2 / span 2 / span 1;
}
.Dashboard__card__title {
    grid-area: 2 / 1 / span 1 / span 1;
    font-family: 'Inter';
    margin: .15em;
}
.Dashboard__card__title::before {
        font-family: 'Inter';
        content: '$';
    }
.Dashboard__card__stats{
    display: flex;
    flex-direction: row;
    grid-area: 3 / 1 / span 1 / span 2;
}
.Dashboard__card__stats__thisWeek::before {
    content: 'This week';
    font-family: 'Inter';
    font-size: 1rem;
}
.Dashboard__card__stats__lastWeek::before {
    content: 'Last week';
    font-family: 'Inter';
    font-size: 1rem
}
.Dashboard__card__stats__lastMonth::before {
    content: 'Last month';
    font-family: 'Inter';
    font-size: 1rem
}
.Dashboard__order__wrapper {
    display: grid;
    grid-template-columns: auto .auto;
    grid-area: 2 / 4 / span 2 / span 1;
    grid-gap: .5rem;
    padding: .5em;
    border-radius: .5em;
    background-color: rgb(59,59,59);
    
}
.Dashboard__order__title {
    grid-area: 1 / 1 / span 1 / span 1;
    font-family: 'Inter';
    font-size: 1.5rem;
    color: rgba(255, 255, 255);
    padding: .2em .2em .6em .2em;
}
td,
th {
    padding: .3em;
}
.Dashboard__order__table {
    grid-area: 2 / 1 / span 1 / span 2;
    color: rgba(255, 255, 255);
    font-family: 'Inter';
    text-align: left;
}
.Dashboard__order__table--total-bucks::before {
    content: '$';
}



/* Все файлы отсюда идут в index.css, в эту папку они приходят посредством постсиэсэм импорта из компонентов. */